<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.evertec.athmovil.android" />
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application>
        <meta-data
            android:name="com.evertecinc.athmovil.sdk.checkout.VERSION"
            android:value="${ATHM_SDK_VERSION}" />
    </application>

</manifest>

